.listContainer {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.noData {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}

@media (max-width: 425px) {
  .listContainer {
    min-height: 150px;
  }
}
