.task {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cbd5e1;
    padding: 0 10px;
    background: #f1f5f9;
  }
  
  .task:hover {
    background: #f8fafc;
  }
  
  .task:last-child {
    border-bottom: none;
  }
  
  .taskCompleted {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cbd5e1;
    padding: 0 10px;
    background: #e2e8f0;
    transition: all 0.4s ease-in;
  }
  
  
  .taskCompleted:last-child {
    border-bottom: none;
  }
  
  .inputAndTextContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input[type="checkbox"] {
    width: 15px;
    height: 15px;
    border: 1px solid #94a3b8;
    appearance: none;
    border-radius: 5px;
    transition: all 0.2s ease-in;
  }
  
  input[type="checkbox"]:checked {
    width: 15px;
    height: 15px;
    background-color: #1a73e8;
    border: 1px solid #1a73e8;
    border-radius: 50%;
  }
  
  .taskText {
    margin-left: 10px;
    font-size: large;
  }
  
  .taskTextCompleted {
    text-decoration: line-through;
    margin-left: 10px;
    font-size: large;
  }
  
  .deleteTask {
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  
  .deleteTask img:hover {
    opacity: 0.6;
  }
  
  @media (max-width: 425px) {
    .taskText,
    .taskTextCompleted {
      font-size: medium;
    }
  }