.todoContainer {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 30px auto;
  border-radius: 7px;
  box-shadow: 6px 6px 20px #b3b4b5, -6px -6px 20px #ffffff;
  background: #f1f5f9;
}

.todoHeader {
  background-image: linear-gradient(to bottom, #accbee 0%, #e7f0fd 100%);
  border-radius: 7px 7px 0 0;
  border-bottom: 1px solid #cbd5e1;
}

.label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
  /* background-image: linear-gradient(to bottom, #f5f7fa 0%, #c3cfe2 100%); */
  border-bottom: 1px solid #cbd5e1;
}

.label span {
  font-style: italic;
  margin-left: 10px;
  color: #64748b;
}

.todoTitle {
  color: black;
  text-align: center;
  margin: 50px 0 0 0;
}



@media (max-width: 1024px) {
  .todoContainer {
    width: 60%;
  }
}
@media (max-width: 768px) {
  .todoContainer {
    width: 75%;
  }
}

@media (max-width: 425px) {
  .todoTitle {
    margin: 40px 0 0 0;
  }

  .label span {
    font-size: small;
  }
}

